.contentAndPlaceholderWrapper {
	transition: none;
	position: relative;
	width: 100%;
}

.contentAndPlaceholderWrapper::before {
	content: '';
	position: absolute;
	left: 1px;
	top: 50%;
	width: calc(64px + 1px + var(--dimension-04));
	height: var(--dimension-48);
	transform: translate(-100%, -50%);
}

.placeholder, .contentDefault {
	transition: none;
	flex: 1;
	width: 100%;
  overflow-wrap: anywhere;
}

.contentDefault {
  position: relative;
  z-index: 2;
  outline: none;
  border: none;
  color: var(--label-normal);
}

.placeholder {
  z-index: 1;
  position: absolute;
  inset: 0;
  color: var(--label-alternative) !important;
}

.controllSection {
  position: absolute;
	top: 0;
  left: 0;
  transform: translateX(-100%);
	transition: none;
}

.controlButton {
  position: relative;
  padding: var(--dimension-02);
}

.controlButton::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: var(--radius-04);
  transition: background-color var(--transition-duration-fast) ease-in-out;
}

.controlButton:hover::before {
  background-color: var(--interaction-hover);
}

.controlButton:active::before {
  transition: background-color var(--transition-duration-xxfast) ease-in-out;
  background-color: var(--interaction-active);
}

.controlButtonAdd {cursor: pointer;}
.controlButtonDragIndicator {cursor: grab;}

.textTypeList {
	min-height: 0;
}

.textTypeItem {
	cursor: pointer;
	padding: var(--dimension-02) var(--dimension-08);
	outline: none;
}

.textTypeItem:focus {
	border-radius: var(--radius-04);
	background-color: var(--interaction-hover);
}

.textTypeItem::before {
	border-radius: var(--radius-04);
}

.textTypeEmpty {
	padding: var(--dimension-16) var(--dimension-08);
}
.textTypeEmpty>p {
	text-align: center;
}

.h1TopPosition {
	top: 5px;
}

.h2TopPosition {
	top: 2px;
}

.h1 {
	margin-top: var(--dimension-16);
}
.h1 > *{
	font-size: var(--typo-xxlarge-font-size);
  font-weight: var(--typo-font-weight-accent);
  line-height: var(--typo-xxlarge-line-height);
  color: var(--label-strong);
}

.h2 {
	margin-top: var(--dimension-16);
}
.h2 > * {
	font-size: var(--typo-xlarge-font-size);
	font-weight: var(--typo-font-weight-accent);
	line-height: var(--typo-xlarge-line-height);
	color: var(--label-strong);
}

.content > *, .list > * {
	font-size: var(--typo-medium-font-size);
	line-height: var(--typo-medium-line-height);
	color: var(--label-normal);
}

.contentTopPosition, .listTopPosition {
	top: -1px;
}

.content {
	margin-top: var(--dimension-08);
}

.list:first-child {
	margin-top: var(--dimension-08);
}

.footnote > * {
	font-size: var(--typo-small-font-size);
	font-weight: var(--typo-font-weight-normal);
	line-height: var(--typo-small-line-height);
	color: var(--label-alternative);
}

.imagePlaceholder {
  z-index: 1;
  position: relative;
  padding: var(--dimension-16);
  background-color: var(--container-normal);
  border: 1px solid var(--line-border);
  border-radius: var(--radius-16);
}

.imagePlaceholder::before {
  border-radius: var(--radius-16);
}

.imageInput {
  cursor: pointer;
  transition: none;
  opacity: 0;
  position: absolute;
  inset: 0;
}

.imageWrapper {
  position: relative;
  transition: none;
  max-width: 100%;
}

.imageControl {
  padding: var(--dimension-04);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.imageWidthControl, .imageWidthControlPosRight {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 6px;
  height: 30%;
  background-color: var(--gray-40);
  border: 1px solid var(--static-white);
  border-radius: var(--radius-99);
}

.imageWidthControlPosRight {
  left: calc(100% - 4px);
  transform: translate(-100%, -50%);
}

.imageControlButtonGroup {
  padding: var(--dimension-08);
  background-color: var(--gray-40);
  border: 1px solid var(--static-white);
  border-radius: var(--radius-08);
  position: absolute;
  top: 4px;
  right: 4px;
}

.imageControlButton {
  display: flex;
  cursor: pointer;
}

.imageControlButton > svg {
  fill: var(--static-white)
}

.image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageAlignControlOptionWrapper {
  position: relative;
}

.imageAlignControlOption {
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translate(-50%, 100%);
  background-color: var(--gray-40);
  border: 1px solid var(--static-white);
  padding: var(--dimension-04);
  border-radius: var(--radius-04);
}

.imageControlActiveAlign{
  fill: var(--static-white);
}

.imageControlAlign{
  fill: var(--gray-30);
}