.imagePlaceholder {
  z-index: 1;
  position: relative;
  padding: var(--dimension-16);
  background-color: var(--container-normal);
  border: 1px solid var(--line-border);
  border-radius: var(--radius-16);
}

.imagePlaceholder::before {
  border-radius: var(--radius-16);
}

.imageInput {
  cursor: pointer;
  transition: none;
  opacity: 0;
  position: absolute;
  inset: 0;
}