.wrapper {
  position: relative;
  transition: none;
  max-width: 100%;
}


.image {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.imageLoading {display: none;}

.loading {
  width: 100%;
  aspect-ratio: 4/3;
  background-color: var(--container-strong);
  border-radius: var(--radius-16);
  border: 1px solid var(--line-border);
  z-index: 2;
}

.alt {
  z-index: 3;
}